name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: '07 01 * * *'

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9, pypy3]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        # TODO: unpin after 2.2.0 gets fixed. PyPy is broken in 2.2.0.
        uses: actions/setup-python@v2.1.4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox tox-gh-actions
      - name: Run tox
        run: tox
      - name: Upload coverage to Codecov
        run: |
          pip install codecov
          codecov
          cat coverage.xml
        working-directory: examples/protected_downloads/

  misc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox_env: [lint, isort, docs]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.tox_env }}
